<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>AVRELA - Automated virtual repository lab assesment </title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
<style>
  span.separator {
    border-top: 0px solid #333;
    width: 100%;
    height: 30px;
    display: block;
  }
</style>

<div class="container-fluid p-5 text-center">
  <h1>Agile project management case study simulation evaluation</h1>
</div>


<form th:action="@{/apm-css}" th:object="${webApmCaseStudySimulation}" method="post">
  <div th:replace="fragments/css-sim.html"><!-- Case study, simulation input parameters  -->
  </div>
  <span class="separator"></span>
  <div class="row"><!-- Number of Participants  -->
    <div class="col">
      <label for="participants" class="mr-sm-2">Simulation participants</label>
      <select id="participants" name="participants" th:field="*{participants}" class="form-select">
        <option th:each="i : ${#numbers.sequence(1, 4)}" th:value="${i}" th:text="${i}"
                th:selected="${i} == ${webApmCaseStudySimulation.participants}"></option>
      </select>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <span class="separator"></span>
  <div class="row"><!-- APM Case study simulation  -->
    <div class="col"><h2>Issue similary function settings </h2></div>
    <div class="col"></div>
  </div>
  <div class="row"><!-- Similarity labels, state, issue name -->
    <div class="col">
      <label for="labelSimilarityWeight" class="form-label">Label similarity weight</label>
      <input id="labelSimilarityWeight" step="0.01" type="number" class="form-control" th:field="*{issueSimilarityFunctionConfig.labelWeight}" />
    </div>
    <div class="col">
      <label for="stateSimilarityWeight" class="form-label">State similarity weight</label>
      <input id="stateSimilarityWeight" step="0.01" type="number" class="form-control" th:field="*{issueSimilarityFunctionConfig.stateWeight}" />
    </div>
    <div class="col">
      <label for="issueNameSimilarityWeight" class="form-label">Issue name similarity weight</label>
      <input id="issueNameSimilarityWeight" step="0.01" type="number" class="form-control" th:field="*{issueSimilarityFunctionConfig.issueNameWeight}" />
    </div>
    <div class="col"></div>
  </div>
  <span class="separator"></span>
  <div class="row"><!-- APM Case study simulation  -->
    <div class="col">
      <button type="submit" class="btn btn-dark btn-lg">Submit</button>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <span class="separator"></span>
</form>

<span class="separator"/>

<span th:if="${webApmCaseStudySimulation.rubricEvaluation != null}">
 <div th:replace="fragments/apm-css-eval-results.html"></div>
</span>

</body>
</html>