<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>AVRELA - Automated virtual repository lab assesment </title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container-fluid p-5 text-center">
  <h1>Menu</h1>
  <p><a href="/apm-css">Agile project management case study simulation</a></p>
  <p><a href="/css-scm">Source control management case study simulation</a></p>
</div>


</body>
</html>