<div th:fragment="issue (issue)" class="card">
  <div class="card-header">
    <strong th:text="${issue.name}"></strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">State
      <span class="badge bg-secondary">
        <small th:text="${issue.state}"></small>
      </span>
    </li>
    <li class="list-group-item">Labels
      <div th:each="label : ${issue.labels}">
           <span class="badge bg-secondary">
             <small th:text="${label}"></small>
             &nbsp;
          </span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hasImagesCheck" disabled>
        <label class="form-check-label" for="hasImagesCheck">
          Has image
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hasLinkCheck" checked disabled>
        <label class="form-check-label" for="hasLinkCheck">
          Has link
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hasTasklist" checked disabled>
        <label class="form-check-label" for="hasTasklist">
          Has taskList
        </label>
      </div>
    </li>
  </ul>
</div>