<div><!-- Issue similarity function  -->
  <div class="row">
    <div class="col"><h2>Issue similarity function settings </h2></div>
    <div class="col"></div>
  </div>
  <div class="row"><!-- Similarity labels, state, issue name -->
    <div class="col">
      <label for="labelFilesWeight" class="form-label">Files similarity weight</label>
      <input id="labelFilesWeight" step="0.01" type="number" class="form-control" th:field="*{commitSimilarityFunctionConfig.filesWeight}" />
    </div>
    <div class="col">
      <label for="messageSimilarityWeight" class="form-label">Message similarity weight</label>
      <input id="messageSimilarityWeight" step="0.01" type="number" class="form-control" th:field="*{commitSimilarityFunctionConfig.filesWeight}" />
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>